<!DOCTYPE html>
<html lang="en">
  <head>
    <title>City Select</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    
    <!-- Font Awesome 5 -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <!-- Local CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
      <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-inverse" id="main-nav">
        <!--Navbar toggle-->
        <button class="navbar-toggler navbar-toggler-right mt-3" id="toggle-nav" type="button" 
                data-target="#nav-toggle-content" data-toggle="collapse" aria-controls="#toggle-nav" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!--Brand-->
        <a class="navbar-brand ml-2" href="/">City Select</a>
        
        <!--Navbar items-->
        <div class="collapse navbar-collapse" id="nav-toggle-content">
            <!-- Right-justified Login/Register/Logout -->
            <!-- Display depends on whether the user is logged in or not -->
            
            
            <% if (user === undefined){ %>
              <!-- Login Form -->
              <form class="form-inline ml-auto" action="/login" method="POST">
                  <div class="input-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                  </div>
                  <button class="btn btn-success m-1 m-sm-1" type="submit">
                    Login <i class="fas fa-sign-in-alt"></i>
                  </button>
              </form> 
              
              <!-- Register Link Button -->
              <ul class="navbar-nav ml-0 mr-4">
                <li class="nav-item">
                  <a href="/register" class="btn btn-warning m-1 m-sm-1" role="button">
                    Register <i class="fas fa-user-plus"></i>
                  </a>
                </li>
              </ul>
              
            <% } else { %>
              
              <!-- Welcome the user by name -->
              <div class="navbar-nav form-inline ml-auto mr-2">
                  <span class="navbar-text">
                    You're signed-in as <strong> <%= user.username %></strong>
                  </span>
              </div>
              
              <form class="navbar-nav form-inline ml-0 mr-4" action="/logout" method="GET">
                  <button class="btn btn-warning m-1 m-sm-1" type="submit">
                    Logout <i class="fas fa-sign-in-alt"></i>
                  </button>
              </form> 
              
              <% }; %>
            
        </div> <!-- End Navbar items -->
        
    </nav> <!-- End Navbar -->
    
    <!-- Alert message -->
    <!-- Only display the container and alerts if there are messages (this prevents the margin-top from creating a gap on the landing page)-->
    <% if (error.length > 0 || success.length > 0) { %>
      <div class="container">
        <% if (error && error.length > 0){ %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if (success && success.length > 0){ %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <% } %>
      </div>
    <% } %>
    