<% include ../partials/header %>

<!--Add a comment-->
<a class="ml-2" href="/cities/<%= city._id %>">Back to <%= city.name %>'s page </a>
<div class="container content-container">
    <h1 class="text-center">Add a comment:</h1>
    
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-8">
            <form action="/cities/<%= city._id %>/comments" method="POST">
                <form class="form-group">
                    <input class="form-control my-2" name="comment[text]" type="text" placeholder="Comment">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Submit Comment!</button> 
                </form>
            </form>
        </div>
    </div>
</div>
    
<% include ../partials/footer %>