<!-- Header -->
<% include partials/header %>

<h1>These are the cities</h1>

<% citiesArr.forEach(function(city){ %>
    <img src="<%= city["image"] %>">
    <li> <%= city["name"] %></li>
<% }); %>

<!-- Footer -->
<% include partials/footer %>