<!-- Header -->
<% include partials/header %>

<div id="landing-container">
    <img id="landing-image" src="https://media.timeout.com/images/103574446/image.jpg" alt="picture of Tokyo">
    <div id="landing-text">
        <h1 id="landing">Welcome to City Select!</h1>
        <h3>We crowdsource information about living and traveling in various cities <br> in order to help your next move or vacation go smoothly!</h3>
        
        <a class="btn btn-warning btn-lg" href="/cities">View all cities</a>
        
    </div>
</div>

<!-- Footer -->
<% include partials/footer %>