<% include partials/header %>

<a href="/cities">Back to the cities list</a>
<h1>Submit another city:</h1>

<form action="/cities" method="POST">
    <input name="name" type="text" placeholder="name">
    <input name="img" type="text" placeholder="image">
    <button type="submit">Submit!</button>
</form>

<% include partials/footer %>