<% include ../partials/header %>

<a class="ml-2" href="/cities">Back to the cities list</a>
<div class="container content-container">
    <h1 class="text-center">Submit another city:</h1>
    
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-8">
            <form action="/cities" method="POST">
                <form class="form-group">
                    <input class="form-control my-2" name="name" type="text" placeholder="Name">
                    <input class="form-control my-2" name="description" type="text" placeholder="Description">
                    <input class="form-control my-2" name="image" type="text" placeholder="Image">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Submit!</button> 
                </form>
            </form>
        </div>
    </div>
</div>
    
<% include ../partials/footer %>