/* HTML Elements sorted alphabetically */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #384151;
    color: #C0C5CD;
}

footer a,
footer a:hover,
footer a:visited,
footer a:active {
    text-decoration: none;    
}

footer a,
footer a:visited{
    color: #C0C5CD;
}

footer a:hover {
    color: #FFD6D6;
}


/* classes sorted alphabetically */
.add-city-container {
    margin: 15px 0px;
}

.comment-row:hover {
    background-color: #f2f2f2;
}

.container {
    margin-top: 15px;
}

.content-container {
    padding-bottom: 75px;
}

.delete-comment-btn:hover {
    cursor: pointer;
}

.delete-comment-form {
    display: inline;
    white-space: nowrap;
}

.navbar-nav .form-control {
    background-color: #DCE2EB;
}

.navbar-brand {
    font-family: Pacifico;
    font-size: 2.5rem;
    padding: 6px;
    background: linear-gradient(to right, #ffeded, white);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-color: initial;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Id's sorted alphabetically */
#add-city-image {
    max-width: 68%;
    border: 4px lightgrey dashed;
}

#comment-text {
    display: inline;
    white-space: nowrap;
}

#delete-comment-btn {
    display: inline;
    white-space: nowrap;
}

#landing-header {
    font-family: Pacifico;
    font-size: 3.5rem;
}

#landing-container {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 80%;
}

#landing-image {
    position: relative;
    
    width: 100%;
    max-height: 0%;
    min-width: 1150px;
}

#landing-text {
   position: absolute; 
   top: 100px; 
   left: 0; 
   max-width: 600px;
   margin: 0% 8%;
   color: white;
}

#landing-text h3 {
    font-weight: 200;
}

#main-nav {
    background-color: #384151;
    padding: 2px;
    margin-bottom: 0px;
}

#new-comment-btn {
    margin-top: 15px;
}

#vexels-link a,
#vexels-link a:hover,
#vexels-link a:active,
#vexels-link a:visited
{
    text-decoration: none;
    font-style: italic;
    color: lightgrey;
}

@media (max-width: 991px) {
    
    
}

/* Small Devices – Mobile View */
@media (max-width: 575px){
    #landing-text {
        top: 60px; 
    }
}
    